<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container mt-4 bg-info text-light p-4">
        <h1>TRIP INFORMATION</h1>
        <h4>ID: {{trips.id}}</h4>
        <h4>Description: {{trips.description}}</h4>
        <h4>Start_Date: {{trips.start_date}}</h4>
        <h4>End_Date: {{trips.end_date}}</h4>
        <h4>Plan: {{trips.plan}}</h4>
    </div>
    <div class="container mt-4"><a href="/exam">Go back to Home </a></div>
</body>
</html>