<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3> Hello !!{{request.session.first_name}}!!!! </h3><a href="/exam/trips/new">Make a new trip!!</a></h3>
    <table class="table table-bordered bg-dark text-light">
        <thead>
            <tr>
                <th>Id</th>
                <th>Destination</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Plan</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
            <tr>
                <td>{{trip.id}}</td>
                <td><a href="/exam/trips/{{trip.id}}/views">{{trip.destination}}</a></td>
                <td>{{trip.start_date}}</td>
                <td>{{trip.end_date}}</td>
                <td>{{trip.plan}}</td>
                <td><a href="/exam/trips/{{trip.id}}/delete">Remove</a>|<a href="/exam/trips/{{trip.id}}/edit">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>